@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root
{
   --Primary-Orange : hsl(35, 77%, 62%);
   --Primary-Red : hsl(5, 85%, 63%);
   --OffWhite : hsl(36, 100%, 99%);
   --GrayishBlue: hsl(233, 8%, 79%);
   --DarkGrayishBlue: hsl(236, 13%, 42%);
   --DarkBlue: hsl(240, 100%, 5%);

   font-size: 15px;
   font-family: "Inter" , sans-serif;

}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p
{
  color: var(--DarkGrayishBlue);
}